{%  extends 'header.html' %}

{% block content %}

{% load staticfiles %}

<body>
<header class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="/">HackXX_Tutorial</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="dropdown">
                    <!--https://getbootstrap.com/docs/4.0/components/dropdowns/-->
                    <a class="nav-link dropdown-toggle" href="/youtubeapp/videos">Projects</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="/youtubeapp/videos">Project 1</a>
                        <a class="dropdown-item" href="#">Project 2</a>
                        <a class="dropdown-item" href="#">Project 3</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<center>
    <div id="demo" class="carousel slide" data-ride="carousel" style="width: 75%; height: 50%; margin: 0 auto">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/australia.jpg' %}" alt="Australia">
                <div class="carousel-caption">
                    <h3>Australia</h3>
                    <p>We had such a great time in Australia!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/grand_teton.jpg' %}" alt="Grand Teton">
                <div class="carousel-caption">
                    <h3>Grand Teton</h3>
                    <p>Thank you, Grand Teton!</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/italy.jpg' %}" alt="Italy">
                <div class="carousel-caption">
                    <h3>Italy</h3>
                    <p>We love Italy!</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</center>
<br><br>
<section class="container">
    <div class="row">
        <figure class="col-sm-4">
            <h2>HackXX</h2>
            <a href="http://hackxx.sdhacks.io/">
            <img src="{% static 'images/hackxx.svg' %}" height="250px"/></a>
            <p>HackXX is UC San Diego's women-centric hackathon. It’s an empowering place to build great projects. Over
                24 hours, women will be given the tools and knowledge to materialize their technological dreams.
                <a href="http://hackxx.sdhacks.io/">Learn more.</a></p>
        </figure>
        <figure class="col-sm-4">
            <h2>H.A.R.D. Hack</h2>
            <a href="https://hkn.ucsd.edu/hard-hack/">
            <img src="{% static 'images/hard-hack.jpg' %}"/></a>
            <p>HARD Hack is hardware hackathon HKN holds annually in collaboration with IEEE. We provide the materials
                and the tools needed to make a hardware hack. Come out and build something cool! Anyone can attend,
                regardless of skill level.
                <a href="https://hkn.ucsd.edu/hard-hack/">Learn more.</a></p>
        </figure>
        <figure class="col-sm-4">
            <h2>SD Hacks</h2>
            <a href="https://www.sdhacks.io/">
            <img src="{% static 'images/sdhacks.svg' %}" height="250px"/></a>
            <p>SD Hacks is about Empowerment, Collaboration, and Innovation. We provide all hackers with expertise,
                hardware and software so they can build their dreams, we’re all here as fellow mentors, 4am-ers, and
                friends, and we strive to make each SD Hacks a memorable learning experience for all.
                <a href="https://www.sdhacks.io/">Learn more.</a></p>
        </figure>
    </div>
</section>


{% endblock %}